html, body {
    margin: 0;
    height: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

p, h3 {
    margin: 0;
}

header {
    position: relative;
    height: 600px;
    display: flex;
}

.background__img--video {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    height: auto;
   
}

.navbar {
    width: 100%;
    padding: 9.5px 0px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color:white;
    justify-content: space-between;
    z-index: 1000;
}


.navbar__logo {
    display: flex;
    flex-direction:row ;
    margin: 11px 39px;
}

.navbar__log--img{
    width: 178.8px;
    height: 38.4px;
}

.navbar__info {
    display: flex;
    flex-direction: row;
}


.navbar__info__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar__info__list--ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color:rgb(34, 33, 33);
    padding: 4px 0px;
}

.navbar__info__list--ul--li {
    margin: 0 21px;
}

.fa-angle-down{
    padding-left: 15px;
}


.navbar__info__button{
    margin: 9px 31px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background:rgb(254, 45, 160);
}

.navbar__info__button--a {
    margin: 10px 40px;
    color: white;
    text-decoration: none;
}

.background__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 90px;
    color:white;
    font-size: 25px;
    
}

.upgrade{
    font-size: 50px;
    font-weight: 600;
    margin: 20px 0;
}

.main__info {
    display: flex;
    flex-direction: column;
}

.main__info--h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 35px 0;
}

.main__info__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.main__info__box__courses--article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main__info__box__courses--article--div {
    background-color:rgb(251, 251, 253);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-color: rgb(128 128 128 / 7%);
    border-radius: 10px;
    width: 405px;
    height: 93px;
    margin: 6px;
    padding: 0px 23px;
}

.main__info__courses--article--div--text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__info__box__courses--article--div--img1 {
    display: flex;
    padding: 17px 0px;
}

.main__info__box__courses--article--div--img2 {
   display: flex;
    padding: 17px 0px;
}

.main__info__box__courses--article--div--img3 {
   display: flex;
   padding: 17px 0px;
}

.main__info__box__courses--article--div--img4 {
   display: flex;
   padding: 23px 0px;
}


.main__info__box__time{
    display: flex;
    flex-direction: row;
    margin: 29px 0px;
}

.main__info__box__time--p{
    text-align: center;
}

.main__info__box__time--ul {
    list-style: none;
}

.main__info__box__time--li {
    display: flex;
    flex-direction: row;
}

.main__info__box__time--text {
    display: inline-flex;
    flex-direction: column;
}

.main__info__2{
    background-color:rgba(251, 251, 253, 0.753)
}

.main__info__2__descript{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 155px;
    padding-top: 70px;
    flex-wrap: wrap;
}

.main__info__2__descript--div1{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding-left: 215px;
    
}

.main__info__2__descript--div2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-right: 190px;
}

.main__info__3{
   width: 70%;
   margin:0 auto ;
 
}

.main__info__3__sponsors{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main__info__3__sponsors--div {
    display: inline-block;
    width: calc(18% - 0px);
    align-items: center;
}

.main__info__3__sponsors--div--img {
    width: 70%;
}

.opinion {
    margin: 80px 0;
    text-align: center;
    font-size: 27px;
}

.main__info__4__upgraders{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
}

.main__info__4__upgraders--text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:rgb(255, 255, 255);
}

.main__info__4__upgraders--img1 {
    display: flex;
    background-image: linear-gradient(0deg, black -20%, transparent 50%), url("../images/testimonials/elena_martin.jpg") ;
    background-size: 100%;
    min-width: 475px;
    height: 300px;
}

.main__info__4__upgraders--img2 {
    display: flex;
    background-image:linear-gradient(0deg, black -20%, transparent 50%),  url("../images/testimonials/testimonial_1.jpg") ;
    background-size: 100%;
    min-width: 475px;
    height: 300px;
}
   
.main__info__4__upgraders--img3 {
    display: flex;
    background-image:linear-gradient(0deg, black -20%, transparent 50%), url("../images/testimonials/carmen_mallado.jpg") ;
    background-size: 100%;
    min-width: 475px;
    height: 300px;
}
.main__info__4__upgraders--img4 {
    display: flex;
    background-image:linear-gradient(0deg, black -20%, transparent 50%), url("../images/testimonials/alberto_torres.jpg") ;
    background-size: 100%;
    min-width: 475px;
    height: 300px;
}


.main__bootcamp__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 155px;
    padding-top: 70px;
    flex-wrap: wrap;
}

.main__bootcamp__article--div1{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding-left: 215px;
    
}

.main__bootcamp__article--div2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-right: 190px;
}

.main__quest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__quest--button {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: rgb(47, 37, 233);
    max-width: 218px;
    margin: 20px 0px;
}

.main__quest--button--a {
    margin: 10px 40px;
    color: white;
    text-decoration: none;
}


.main__developer{
    display: flex;
    flex-direction: column;
}

.main__developer__article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 321px;
}

.main__devol__article--text {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    color:rgb(255, 255, 255);
    margin-left: 30px;
    font-size: 22px;
}

.main__developer__article--img1{
    display: flex;
    background-image: url("../images/bootcamps/fullstack-img-chooser.jpg");
    background-size: 100%;
    min-width: 630px;
    height: 606px;
}

.main__developer__article--img2{
    display: flex;
    background-image: url("../images/bootcamps/ciber-img-chooser.jpg");
    background-size: 100%;
    min-width: 630px;
    height: 606px;
}

.main__developer__article--img3{
    display: flex;
    background-image: url("../images/bootcamps/uxui-img-chooser.jpg");
    background-size: 100%;
    min-width: 630px;
    height: 606px;
}

.main__developer__article--img4{
    display: flex;
    background-image: url("../images/bootcamps/frontend-img-chooser.jpg");
    background-size: 100%;
    min-width: 630px;
    height: 606px;

}


.main__developer__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.main__developer__options--div {
    display: flex;
    flex-direction: row;
}

.main__developer__options--div--h1 {
    font-size: 30px;
    margin: 11px 0px;
}
.main__developer__text{
    display: flex;
    flex-direction: column;
}

.main__developer__text--div{
    display: flex;
    flex-direction: row;
    margin: 16px 200px;
    padding-left: 53px;

}

.main__developer__text--div--text{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    font-size: 20px;
}

.main__developer--h1 {
    font-size: 30px;
    font-weight: bold;
}

.main__formulary {
    background-color:rgb(74, 64, 236) ;
    padding: 30px 0px;
    color: white;
}


.main__formulary__article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 155px;
    padding-top: 70px;
    flex-wrap: wrap;
}

.main__formulary__article--div1{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    
}

.main__formulary__article--div2{
    display: flex;
    flex-direction: column;
}


.main__formulary--p{
    font-weight: normal;
    font-size: 20px;
}

.formulary__input {
    width: 700px;
    height: 40px;
    border-style: none;
    border-radius: 7px;
    margin: 10px 0px;
}

footer {
    display: flex;
    justify-content: space-around;
    background:rgb(17,17,17);
    color: white;
    height: 250px;
}

.footer__section {
    display: flex;
    width: 50%;
}

.footer__section__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    list-style: none;
    
}

.footer__section__items--img {
    width: 100%;
}

.footer__section__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8%; 
}

.footer__section__ul li {
    list-style: none;
    margin-bottom: 3px;
}

.footer__icons {
    display: flex;
    margin-bottom: 8%;
    width: 9%;
}

.footer__icons img {
    margin-right: 10px;
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
    .navbar_mobile{
        display: none;
    }
 }

 @media screen and (max-width: 1200px) {
    .header{
        display: none;
    }
 }